*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background-image: url(./images\ \(4\).jfif);

}
nav{
  background:#F77910;
  height: 80px;
  width: 100%;
  position: fixed;
}
label.logo{
  color: white;
  font-size: 45px;
  font-family: cursive;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold ;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background:#F7C610;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}




.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 180px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 19px;
  border: none;
  outline: none;
  color: #F7C610;
  padding: 20px 10px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}
/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
margin-left: 100px;
margin-top: -25px;
background-color: #F7C610;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropbtn:hover{
    color: #F7C610;
    transition: .5s;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}




@media (max-width: 1000px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F77910;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #F7C610;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
